.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Global */

.center {
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
}

.bg-black {
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
tr,
td {
    font-family: Montserrat-Regular;
}


/* Home */


/* .circle
  {
    background-color: #61dafb;
    border-radius: 50%;
    width: 200px;
    height: 200px; 
  }

.background
{
  background-color: black;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
*/

h1.title {
    color: white;
    padding-left: 10px;
    display: inline-block;
    font-family: Montserrat-Regular;
}

.home-container {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
    min-height: 100vh;
    max-width: 100vw;
    margin: 0px;
    background-color: black;
    padding: 30px 0;
}

.home-box {
    width: 700px;
    margin: 10px;
    text-align: center;
    /* will center text in <p>, which is not a flex item */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button {
    background-color: #420000;
    color: white;
    height: 140px;
    width: 150px;
    margin: 0 20px 0 20px;
    transition: 0.5s;
    border-color: black;
}

.home-box .icons {
    /* height: 150px;
  width: 150px; */
    margin: 17px 0px 0px 0px;
    /* color: black */
}

svg {
    transition: 0.2s;
}

form {
    font-family: Montserrat-Light;
}

.home-button:hover svg,
.home-button:hover {
    fill: rgb(255, 203, 30);
    /*svg color change on button hover*/
}

.home-button:hover {
    background-color: black;
    border-color: rgb(255, 203, 30);
    color: rgb(255, 203, 30);
}

.home-button:focus {
    background-color: #420000;
    border-color: rgb(255, 203, 30);
}

.home-button:active {
    /* background-color: #420000; */
    color: rgb(255, 203, 30);
}

.home-button p {
    margin-top: 10px;
    font-family: Montserrat-ExtraLight;
    font-size: 90%;
}

.box img {
    margin: 10px;
}


/* NavBar */

.navbar {
    background-color: black;
    font-family: Montserrat-ExtraLight;
}

.navbar img {
    margin-right: 10px;
}


/*Mentorship*/

.mentorship-p {
    margin: 0;
    font-size: 30px;
}

.mentorship-button {
    background-color: #420000;
    color: white;
    height: 450px;
    width: 350px;
    margin: 0 20px 0 20px;
    transition: 0.5s;
    border-color: black;
}

.mentorship-button:hover {
    background-color: black;
    color: rgb(255, 203, 30);
    border-color: rgb(255, 203, 30);
}

.mentorship-button:focus {
    background-color: #420000;
    border-color: rgb(255, 203, 30);
}


/*Login*/

.login-form {
    width: 40%;
    margin-top: 20px;
}

.login-form label {
    color: white;
}

.login-form button {
    border-color: white;
    color: white;
}

.login-form button:hover {
    border-color: rgb(255, 203, 30);
    color: rgb(255, 203, 30);
    background-color: black;
}

.login-form a {
    color: white;
    float: right;
    margin-top: 6px;
}

.login-form a.homelink {
    color: white;
    float: right;
    margin-top: 0px;
}


/*Register*/

.register-form {
    width: 30%;
    margin-top: 20px;
}

.register-form label {
    color: white;
}

.register-form button {
    border-color: white;
    color: white;
    align-items: center;
    justify-content: center;
}

.register-form button:hover {
    border-color: rgb(255, 203, 30);
    color: rgb(255, 203, 30);
    background-color: black;
}

.register-form a {
    color: white;
    float: right;
    margin-top: 6px;
}

.register-form a.link {
    color: white;
    float: right;
    margin-top: 0px;
}


/*Register2*/

.register2-form {
    width: 40%;
    margin-top: 20px;
}

.register2-form label {
    color: white;
}

.register2-form button {
    border-color: white;
    color: white;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.register2-form button {
    border-color: white;
    color: white;
    align-items: center;
    justify-content: center;
}

.register2-form button:hover {
    border-color: rgb(255, 203, 30);
    color: rgb(255, 203, 30);
    background-color: black;
}

.register2-form a {
    color: white;
    float: right;
    margin-top: 0px;
}


/*Profile*/

.grid-container {
    display: grid;
    /* establish flex container */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
    height: 100vh;
    max-width: 100vw;
    margin: 0px;
    background-color: black;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75% auto;
    padding-top: 56px;
}

.profile-base {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    color: white;
    border-right: 1px solid white;
    /* margin-bottom: auto;
    margin-top: auto; */
}

.profile-base svg {
    padding-bottom: 5px;
}

.profile-base img {
    margin-bottom: 20px;
}

.profile-base button {
    pointer-events: none;
    /* display: inline; */
    width: 50px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
}

.profile-about {
    display: grid;
    align-self: flex-end;
    color: white;
    /* padding: 90px 50px 0 30px; */
    padding: 0px 50px 0 30px;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
}

.profile-about h2 {
    display: inline;
    justify-self: center;
}

.profile-about a {
    color: white;
    text-decoration: underline;
    margin-left: 0px;
    font-size: 80%;
}

.add-info {
    margin-left: 30px;
    line-height: 1.5;
    word-break: break-all
}

.profile-base h5 {
    display: inline;
}

.profile-about em {
    font-weight: bold;
}

.profile-about table {
    width: 100%;
    margin-left: 30px;
}

.profile-about tr {
    line-height: 2.5;
}

.profile-links {
    align-self: center;
    padding-left: 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.profile-links button {
    margin-right: 20px;
    background-color: #420000;
    border-color: white;
}

.profile-links button {
    margin-right: 20px;
    background-color: #420000;
    border-color: white;
}

.profile-links button:hover {
    border-color: rgb(255, 203, 30);
    color: rgb(255, 203, 30);
    background-color: black;
}

.profile-base h5 {
    margin-right: 10px;
}

.switch.btn {
    min-width: 3.7rem;
    min-height: 2rem;
}


/* canvas{
  min-width: 1000px;
  width: 1000px;
  height: 3000px;
} */


/* Mentors */

.mentor {
    color: white;
    align-self: baseline;
    margin-left: 300px;
    margin-bottom: 20px;
}

.mentor-container h1 {
    color: white;
}

.mentor-container {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: baseline;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
    padding-top: 156px;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0px;
    background-color: black;
}

.mentor-placard {
    margin: 20px 0;
    width: 50%;
    height: 280px;
    /* height: 200px; */
    border: 1px solid white;
    display: grid;
    grid-template-columns: 30% 70%;
    color: white;
}

.center2 {
    margin: auto auto auto 20px;
    /* justify-content: center; */
}

.mentor-placard img {
    align-self: center;
    justify-self: center;
}



.mentor-placard table {
    width: 100%;
}

.mentor-button {
    background-color: #420000;
    color: white;
    width: 180px;
    height: 25%;
    transition: 0.5s;
    border-color: black;
    margin-top: 15px;
}

.mentor-button p {
    display: inline;
    margin-left: 15px;
}

.mentor-button svg {
    margin-bottom: 2px;
}

.mentor-button:hover svg,
.mentor-button:hover {
    fill: rgb(255, 203, 30);
    /*svg color change on button hover*/
}

.mentor-button:hover {
    background-color: black;
    border-color: rgb(255, 203, 30);
    color: rgb(255, 203, 30);
}


/* .mentor-button:focus{
  background-color: #420000;
  border-color: rgb(255, 203, 30);
} */


/* Messages */

.message-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: repeat(auto-fill, 540px); */
    grid-auto-rows: 540px;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    /* height: fit-content; */
    margin: 0px;
}

.message-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: repeat(auto-fill, 540px); */
    grid-auto-rows: 540px;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    height: fit-content;
    margin: 0px;
    background-color: black;
    color: white;
    position: relative;
}

.messages-title {
    margin-left: 50px;
}

.messages-wrapper {
    background-color: black;
    padding-top: 96px;
    color: white;
}

.messages-placard {
    width: 85%;
    height: 85%;
    /* height: 200px; */
    border: 1px solid white;
    display: grid;
    /* grid-template-rows: 40% 60%; */
    color: white;
    justify-items: center;
    align-items: center;
}

.messages-placard {
    width: 85%;
    height: 80%;
    /* height: 200px; */
    border: 1px solid white;
    display: grid;
    /* grid-template-rows: 40% 60%; */
    color: white;
    justify-items: center;
    align-items: center;
}

.messages-placard img {
    align-self: flex-end;
}

.messages-div {
    align-items: center;
    justify-items: center;
    width: 87%;
}

.messages-div h1 {
    font-size: 2em;
}

.messages-placard table {
    width: 100%;
}

.messages-button {
    background-color: #420000;
    color: white;
    width: 100%;
    height: 25%;
    transition: 0.5s;
    border-color: black;
    margin-top: 20px;
    /* CENTER IN A DIV */
    margin: 20px auto 0;
    display: block;
}

.messages-button p {
    display: inline;
    margin-left: 15px;
}

.messages-button svg {
    margin-bottom: 5px;
}

.messages-button:hover svg,
.messages-button:hover {
    fill: rgb(255, 203, 30);
    /*svg color change on button hover*/
}

.messages-button:hover {
    background-color: black;
    border-color: rgb(255, 203, 30);
    color: rgb(255, 203, 30);
}


/* Trees */

.fam {
    margin-top: 56px;
}

.family-button {
    background-color: #420000;
    color: white;
    height: 340px;
    width: 100%;
    margin: 0 5px 0 5px;
    transition: 0.5s;
    border-color: black;
}

.family-button:hover {
    fill: rgb(255, 203, 30);
    /*svg color change on button hover*/
}

.family-button:hover {
    background-color: black;
    border-color: rgb(255, 203, 30);
    color: rgb(255, 203, 30);
}

.family-button:focus {
    background-color: #420000;
    border-color: rgb(255, 203, 30);
}

.family-button:active {
    /* background-color: #420000; */
    color: rgb(255, 203, 30);
}

.family-button p {
    margin-top: 10px;
    font-family: Montserrat-ExtraLight;
    font-size: 130%;
}

.family-box {
    width: 70%;
    margin: 10px;
    text-align: center;
    /* will center text in <p>, which is not a flex item */
    display: flex;
    justify-content: center;
    align-items: center;
}