.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global */
.center{
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.grid{
  display: grid;
}

/* Home */

/* .circle
  {
    background-color: #61dafb;
    border-radius: 50%;
    width: 200px;
    height: 200px; 
  }

.background
{
  background-color: black;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
*/
h1.title{
  color: white;
  padding-left: 10px;
  display: inline-block;
}
.home-container {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 100vh;
  max-width: 100vw;
  margin: 0px;
  background-color: black;
}

.home-box {
  width: 700px;
  margin: 10px;
  text-align: center;     /* will center text in <p>, which is not a flex item */
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-button{
  background-color: #420000;
  color: white;
  height: 150px;
  width: 150px;
  margin: 0 20px 0 20px;
  transition: 0.5s;
  border-color: black;
}
svg{
  transition: 0.2s;
}


.home-button:hover svg, 
.home-button:hover{
  fill: rgb(255, 203, 30); /*svg color change on button hover*/
}
.home-button:hover{
  background-color: black;
  border-color: rgb(255, 203, 30);
  color: rgb(255, 203, 30);
}


.home-button:focus{
  background-color: #420000;
  border-color: rgb(255, 203, 30);
}
.home-button:active{
  /* background-color: #420000; */
  color: rgb(255, 203, 30);
}
.home-button p{
  margin-top: 10px;
}
.box img{
  margin: 10px;
}


/* NavBar */

.navbar{
  color: black;
  background-color: black;
}
.navbar img{
  margin-right: 10px;
}

/*Mentorship*/
.mentorship-p{
  margin: 0;
  font-size: 30px;
}

.mentorship-button{
  background-color: #420000;
  color: white;
  height: 450px;
  width: 350px;
  margin: 0 20px 0 20px;
  transition: 0.5s;
  border-color: black;
} 
.mentorship-button:hover{
  background-color:black;
  color:  rgb(255, 203, 30);
  border-color: rgb(255, 203, 30);
}
.mentorship-button:focus{
  background-color: #420000;
  border-color: rgb(255, 203, 30);
}

/*Login*/
.login-form{
  width: 40%;
  margin-top: 20px;
}
.login-form label{
  color: white;
}
.login-form button{
  border-color: white;
  color: white;
}
.login-form button:hover{
  border-color:rgb(255, 203, 30);
  color: rgb(255, 203, 30);
  background-color: black;
}


.login-form a{
  color: white;
  float: right;
  margin-top: 6px;
}

.login-form a.homelink{
  color: white;
  float: right;
  margin-top: 0px;
}

/*Register*/
.register-form{
  width: 40%;
  margin-top: 20px;
}

.register-form label{
  color: white;
}
.register-form button{
  border-color: white;
  color: white;
  align-items: center;
  justify-content: center;
}
.register-form button:hover{
  border-color:rgb(255, 203, 30);
  color: rgb(255, 203, 30);
  background-color: black;
}

.register-form a{
  color: white;
  float: right;
  margin-top: 6px;
}

.register-form a.link{
  color: white;
  float: right;
  margin-top: 0px;
}

/*Register2*/
.register2-form{
  width: 40%;
  margin-top: 20px;
}

.register2-form label{
  color: white;
}
.register2-form button{
  border-color: white;
  color: white;
  align-items: center;
  justify-content: center;
}
.register2-form button:hover{
  border-color:rgb(255, 203, 30);
  color: rgb(255, 203, 30);
  background-color: black;
}

.register2-form a{
  color: white;
  float: right;
  margin-top: 0px;
}



/*Profile*/
.grid-container {
  display: grid;           /* establish flex container */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 100vh;
  max-width: 100vw;
  margin: 0px;
  background-color: black;
  grid-template-columns: 35% 65%;
  grid-template-rows: 70% auto;
  padding-top: 56px;
}
.profile-base {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr ;
  color: white;
  border-right: 1px solid white;
}
.profile-base img{
  margin-bottom: 20px;
}
.profile-base button{
  pointer-events: none;
}
.profile-about{
  display: grid;
  color: white;
  padding: 90px 50px 0 30px;
  margin-bottom: 0;
}
.profile-about p{
  margin-left: 30px;
  line-height: 2.5;
}
.profile-about em{
  font-weight: bold;
}
.profile-about table{
  width: 50%;
  margin-left: 30px;
}
.profile-about tr{
  line-height: 2.5;
}
.profile-links{
  align-self: baseline;
  padding-left: 30px;
  align-items: baseline;
  margin: 20px 0 0 30px;
}
.profile-links button{
  margin-right: 20px;
  background-color: #420000;
  border-color: white;
}
.profile-links button:hover{
  border-color:rgb(255, 203, 30);
  color: rgb(255, 203, 30);
  background-color: black;

}
/* canvas{
  min-width: 1000px;
  width: 1000px;
  height: 3000px;
} */

/* Mentors */
.mentor{
  color: white;
  align-self: baseline;
  margin-left: 300px;
  margin-bottom: 20px;
}
.mentor-container h1{
  color: white;
}
.mentor-container{
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: baseline; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  padding-top: 156px;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0px;
  background-color: black;
}
.mentor-placard{
  margin: 20px 0;
  width: 50%;
  height: 220px;
  /* height: 200px; */
  border: 1px solid white;
  display: grid;
  grid-template-columns: 30% 70%;
  color: white;
}

.mentor-placard img{
  align-self: center;
  justify-self: center;
}
.mentor-placard table{
  width: 100%;
}
.mentor-button{
  background-color: #420000;
  color: white;
  width: 150px;
  height: 25%;
  transition: 0.5s;
  border-color: black;
  margin-top: 15px;
}
.mentor-button p{
  display: inline;
  margin-left: 15px;
}
.mentor-button svg{
  margin-bottom: 5px;
}
.mentor-button:hover svg, 
.mentor-button:hover{
  fill: rgb(255, 203, 30); /*svg color change on button hover*/
}
.mentor-button:hover{
  background-color: black;
  border-color: rgb(255, 203, 30);
  color: rgb(255, 203, 30);
}
/* .mentor-button:focus{
  background-color: #420000;
  border-color: rgb(255, 203, 30);
} */

/* Messages */
.message-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% auto;
  padding-top: 56px;
  justify-items: center;
  /* ali */
  padding-top: 156px;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0px;
  background-color: black;

}
.messages-title{
  grid-column-start: 1;
  grid-column-end: 4;

}

.messages-placard{
  margin: 20px 0;
  width: 80%;
  height: 450px;
  /* height: 200px; */
  border: 1px solid white;
  display: grid;
  grid-template-rows: 40% 60%;
  color: white;
  justify-items: center;
  align-items: center;
}

.messages-span{
  align-items: center;
  justify-items: center;
}
.messages-placard table{
  width: 100%;
}
.messages-button{
  background-color: #420000;
  color: white;
  width: 150px;
  height: 25%;
  transition: 0.5s;
  border-color: black;
  margin-top: 15px;
  position: relative;
  margin-left: auto;
}
.messages-button p{
  display: inline;
  margin-left: 15px;
}
.messages-button svg{
  margin-bottom: 5px;
}
.messages-button:hover svg, 
.messages-button:hover{
  fill: rgb(255, 203, 30); /*svg color change on button hover*/
}
.messages-button:hover{
  background-color: black;
  border-color: rgb(255, 203, 30);
  color: rgb(255, 203, 30);
}